.card {
    background-color: #252528;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-album {
    font-size: 16px;
    margin: 10px 0 5px 10px;
    color: white;
}

.card-artist {
    margin: 5px 0 10px 10px;
    color: #ccc;
}

.card:hover {
    transform: scale(1.05);
}