.search-bar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #1A2130;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    margin: 10px auto 40px;
    border: #5A72A0 2px solid;
}

.search-input {
    flex-grow: 1;
    border: none;
    background: none;
    color: #FDFFE2;
    outline: none;
    font-size: 16px;
}

.search-input::placeholder {
    color: #FDFFE2;
}

.search-icon {
    fill: #FDFFE2;
    margin-left: 5px;
}